@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

@layer base {
  :root[data-color-mode='light'] {
    --primary-bg-color: #fff;
    --secondary-bg-color: #00043c;
    --gold-color: #e2b355;
    --primary-text-color: #000;
    --secondary-bg-color-2: #ebedf7;
    --primary-cta-color: #00043c;
  }
  :root[data-color-mode='dark'] {
    --primary-bg-color: #121212;
    --secondary-bg-color: #1c1c1c;
    --gold-color: #e2b355;
    --primary-text-color: #fff;
    --secondary-bg-color-2: #1c1c1c;
    --primary-cta-color: #babef6;
  }
}
